.fl-node-5f3c61913ab9b .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3c61913ab9b .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3c61913ab9b .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c62744a899 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3c62744a899 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3c62744a899 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c632acb012 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3c632acb012 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3c632acb012 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c637fdec50 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3c637fdec50 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3c637fdec50 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c64159e82e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3c64159e82e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3c64159e82e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5f3c64159e82e.fl-row-fixed-width, .fl-node-5f3c64159e82e .fl-row-fixed-width {max-width: 488px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c61913df0a {width: 45%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c61913df0d {width: 55%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c6274514b7 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c629a02c3f {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c629a02c42 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c629a02c44 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c632acb1ee {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c632acb1f2 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c632acb1f5 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c632acb1f8 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c637fdf10e {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c637fdf118 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3c640ed4968 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}